@CHARSET "UTF-8";
.myclassp {
color:yellow;
}
html,body{
width:100%;
height:100%;
}

.pageHead {
width:100%;
height:20%;
padding:5px;
margin:1px;
border:0px;
position:relative;
background-color:#00b5ad;
}

/*headtitle*/
#headTitle {
position:absolute;
top:30%;
left:3%;
}
#headTitle .content{
font-size:100%;
font-weight:100;
font-family:Arial;
color:#FFFFFF;
display:inline-block;
}
#headTitle .icon{
color:#b5cc18;
position:relative;
top:-0.1vw;
display:inline-block;
}


/*topmenu*/
#topmenu {
width:50%;
position:absolute;
right:0px;
bottom:0px;
}
#topmenu a{
font-size:130%;
color:#fdfdff;
}
#topmenu a:link{
color:green;
}
#topmenu a:visited, #topmenu a:hover, #topmenu a:active{
color:#6435c9;
}
@CHARSET "UTF-8";
.middleBody {
width:95%;
min-height:78%;
margin-top:3vh;
margin-bottom:2vh;
margin-left:0.5vw;
margin-right:0.5vw;
padding:0vw;
border:0;
}

/*leftSidePart*/
.leftSidePart {
width:25%;
min-height:100%;
margin-bottom:1vh;
padding-left:1vw;
padding-right:5vw;
padding-top:0vh;
padding-bottom:0vh;
display:inline-block;
vertical-align:top;
}
.tab.segment {
background-color:#F2F2F2;
}
.myRegister {
position:relative;
left:30%;
}

/*sidemenu*/
#sidemenu{
background-color:#e6e6e6;
height:70%;
min-height:60%;
text-align:center;
margin-top:5vh;
padding-top:5vh;
border:0;
}
#sidemenu a{
font-size:150%;
color:#CCCCCC;
margin-top:2vh;
margin-bottom:2vh;
}
#sidemenu a:link{
color:green;
}
#sidemenu a:visited, #sidemenu a:hover, #sidemenu a:active{
color:#FAAF19;
}

.ui.link.list.tab.segment {
border:0;
padding-bottom:4vh;
margin-bottom:0vh;
background-color:#F2F2F2;
}
.ui.link.list.tab.segment a{
background-color:#F2F2F2;
}
#topmenu a:link{
color:green;
background-color:#F2F2F2;
}
#topmenu a:visited, #topmenu a:hover, #topmenu a:active{
color:#6435c9;
background-color:#F2F2F2;
}
/*rightContent*/
.rightContent{
width:65%;
min-height:80%;
margin-left:2vw;
display:inline-block;
vertical-align:top;
background-color:#FFFFFF;
}